/*------------------------- 1. Core Css -------------------*/

.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 280px;
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
    background: #F5F7FF;
}

.sbar_collapsed.page-container {
    padding-left: 0;
}

.card {
    border: none;
    border-radius: 8px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02);
}

.card-body {
    padding: 25.6px;
    padding: 1.6rem;
}

.h-full {
    height: 100%;
}

.main-content {
    width: 100%;
    height: 100vh;
    background: #F5F7FF;
    margin-bottom: 20px;
}

.main-content-inner {
    padding: 0 30px 50px;
    background: #F5F7FF;
}

/*------------------------- END Core Css -------------------*/

/*------------------------- Colors -------------------*/

.bg-white {
  background-color: #fff;
  border: none;
}

.bg-blue {
  background-color: #4B44B5;
  border: none;
}

.bg-orange {
  background-color: #FA7D5B;
  border: none;
}

.bg-green {
  background-color: #4BBC9A;
  border: none;
}

/*------------------------- Colors -------------------*/

.btn-primary {
  font-size: 12px;
}

/*-------------------- 2.1 Sidebar Menu -------------------*/

.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 280px;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.sbar_collapsed .sidebar-menu {
    left: -280px;
}

.main-menu {
    height: calc(100% - 100px);
    overflow: hidden;
    padding: 20px 10px 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.menu-inner {
    overflow-y: scroll;
    height: 100%;
}

.slimScrollBar {
    background: #fff!important;
    opacity: 0.1!important;
}

.sidebar-header {
    padding: 19px 32px 20px;
    background: #fff;
}
.sidebar-menu .logo{
    text-align: center;
}
.logo a {
    display: inline-block;
    max-width: 200px;
}

.metismenu >li >a {
    padding-left: 32px!important;
}
.metismenu li a {
    position: relative;
    display: block;
    color: #8d97ad;
    font-size: 15px;
    text-transform: capitalize;
    padding: 15px 15px;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 16px;
}

.metismenu li a i {
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.metismenu li a:after {
    position: absolute;
    content: '\f107';
    font-family: fontawesome;
    right: 15px;
    top: 12px;
    color: #4B44B5;
    font-size: 20px;
}

.metismenu li.active>a:after {
    content: '\f106';
}

.metismenu li a:only-child:after {
    content: '';
}

.metismenu li a span {
    margin-left: 10px;
}

.metismenu li.active>a,
.metismenu li:hover>a {
    color: #fff;
}

.metismenu li li a {
    padding: 8px 20px;
}

.metismenu li ul {
    padding-left: 37px;
}

.metismenu >li:hover>a,
.metismenu >li.active>a {
    color: #000;
    background: #F0F0F0;
    border-radius: 10px;
    margin: 0 16px;
}

.metismenu li:hover>a,
.metismenu li.active>a {
    color: #000;
}

.metismenu li:hover>a i,
.metismenu li.active>a i {
    color: #000;
}

.metismenu li li a:after {
    top: 6px;
}

/*-------------------- END Sidebar Menu -------------------*/


/*-------------------- 2.1.1 Horizontal Menu -------------------*/

.body-bg {
    background: #F3F8FB;
}

.horizontal-main-wrapper {
    min-height: 100vh;
}

.horizontal-main-wrapper .container {
    max-width: 1440px;
}

.horizontal-main-wrapper .header-area,
.horizontal-main-wrapper .mainheader-area {
    padding-left: 0;
    padding-right: 0;
}

.horizontal-main-wrapper .main-content-inner {
    padding: 0 0 50px;
}

.mainheader-area .notification-area {
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
}

.mainheader-area {
    background: #fff;
    border-bottom: 1px solid #f3f8fb;
    padding-left: 15px;
    position: relative;
    z-index: 99;
}

.mainheader-area .logo a span {
    color: #843df9;
}



/* mobile menu */

.slicknav_menu {
    background: #8255f7;
    padding: 0;
    margin-top: 20px;
}

.slicknav_menu>a {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0;
    background: transparent;
}

.slicknav_menu .slicknav_icon {
    float: right;
}

.slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
}

.slicknav_menu .slicknav_menutxt {
    font-weight: 500;
    text-shadow: none;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
    text-transform: capitalize;
}

.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #8e66f7;
}

.slicknav_nav li i {
    width: 26px;
    display: inline-block;
}

.slicknav_nav .slicknav_item .slicknav_arrow {
    float: right;
}

/*-------------------- END Horizontal Menu -------------------*/


/*-------------------- 2.2 Header Area -------------------*/

.header-area {
    padding: 6px 30px;
    background: #F5F7FF;
}

.nav-btn {
    margin: 10px 30px 0 0;
    cursor: pointer;
}

.nav-btn span {
    display: block;
    width: 22px;
    height: 2px;
    background: #000;
    margin: 4px 0;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 0 4px rgba(99, 96, 96, 0.03);
}

.sbar_collapsed .nav-btn span {
    transform: none;
    opacity: 1;
}

/*-------------------- 2.3 Page Title Area -------------------*/

.page-title-area {
    padding: 0 30px;
    position: relative;
    margin-top: 30px;
}

.page-title-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 36px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.page-title {
    font-size: 24px;
    font-weight: 300;
    color: #313b3d;
    letter-spacing: 0;
    margin-right: 30px;
}

ul.breadcrumbs {
    margin-top: 4px;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li a,
.breadcrumbs li span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #4B44B5;
    letter-spacing: 0;
    margin-right: 16px;
    position: relative;
}

.breadcrumbs li a:before {
    content: '/';
    color: #768387;
    position: absolute;
    right: -13px;
    top: 0;
}

.breadcrumbs li span {
    margin-right: 0;
    color: #768387;
    text-transform: capitalize;
}

.user-profile {
    margin-right: -30px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #F5F7FF;
    padding: 6px 20px;
    position: relative;
}

.user-name {
    font-size: 12px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.user-name i {
    margin-left: 10px;
    font-size: 21px;
    vertical-align: middle;
    position: relative;
}

.notification-area .dropdown-toggle,
.user-name.dropdown-toggle {
    position: relative;
}

.notification-area .dropdown-toggle:after,
.user-name.dropdown-toggle:after {
    display: none;
}

.notification-area .dropdown-menu,
.user-profile .dropdown-menu {
    background: #fff;
    border: none;
    -webkit-transform: none!important;
            transform: none!important;
    top: 130%!important;
    right: 30px!important;
    left: auto!important;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block!important;
    visibility: hidden;
    opacity: 0;
}

.notification-area .dropdown-menu.show,
.user-profile .dropdown-menu.show {
    top: 100%!important;
}

.notification-area .dropdown-menu.show,
.user-profile .dropdown-menu.show {
    top: 100%!important;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 45px 0 rgba(131, 23, 254, 0.06);
}

.user-profile .dropdown-menu a {
    font-size: 14px;
    color: #8a8a8a;
    letter-spacing: 0;
    font-weight: 500;
    padding: 4px 120px;
    padding-left: 25px;
}

.user-profile .dropdown-menu button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #8a8a8a;
  letter-spacing: 0;
  font-weight: 500;
  padding: 4px 120px;
  padding-left: 25px;
}

.user-profile .dropdown-menu a:hover {
    background: #f8f9fa;
    color: #4B44B5;
}

.user-profile .dropdown-menu button:hover {
  background: #f8f9fa;
  color: #4B44B5;
}

/*-------------------- END Page Title Area -------------------*/


/*-------------------- 2.4 Fact Area ------------------- */

.single-report {
    overflow: hidden;
    position: relative;
    min-height: 200px;
    border-radius: 12px;
    padding: 40px 30px;
}

.header-title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 17px;
}

.single-report p {
    font-size: 12px;
    font-weight: 700;
    color: #565656;
    background: #ececec;
    letter-spacing: 0;
    padding: 0 9px;
    height: 20px;
    line-height: 20px;
}

.single-report h2 {
    font-size: 26px;
    color: #565656;
    font-weight: 500;
    letter-spacing: 0;
}

.single-report span {
    font-size: 15px;
    font-weight: 500;
    color: #565656;
    letter-spacing: 0;
    /* padding: 20px 10px; */
}

.single-report .number {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0;
  margin-top: 20px;
}

/*-------------------- END Fact Area ------------------- */

.footer-area {
    text-align: center;
    background: #F5F7FF;
}

.footer-area p {
    color: #676666;
    margin-bottom: 10px;
    font-size: 12px;
}

/*-------------------- END Letest Post ------------------- */


/*-------------------- 13. Dropdown Button ------------------- */

.drop-buttons .btn {
    margin-bottom: 1.3em;
}

.dropdown-item {
    font-size: 14px;
}

/*-------------------- END Dropdown Button ------------------- */


/*-------------------- 15. Modal ------------------- */

.child-media {
    padding-left: 100px;
}

.modal-dialog.modal-xl {
    max-width: 100%;
}

/*-------------------- END Modal ------------------- */

/* icon-container */

.icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.icon-container {
    cursor: pointer;
    -ms-flex-preferred-size: calc(100% * (1/4));
        flex-basis: calc(100% * (1/4));
}

.icon-container [class^="ti-"] {
    width: 30px;
    font-size: 14px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.icon-container:hover [class^="ti-"] {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: left center;
            transform-origin: left center;
}

.icon-container span.icon-name {
    color: #444;
    margin: 9px 0;
    display: inline-block;
    font-family: 'lato', sans-serif;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.icon-container:hover span.icon-name {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}

.icon-container:hover span {
    color: #007BFF;
}

/*-------------------- END Icons ------------------- */


/*-------------------- 19. Table Basic ------------------- */

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

/*-------------------- END Table Basic ------------------- */


/*-------------------- 20. Datatable ------------------- */




/*-------------------- 23. Login ------------------- */

.login-area {
    background: #F3F8FB;
}

.login-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.login-box form {
    margin: auto;
    width: 450px;
    max-width: 100%;
    background: #fff;
    border-radius: 3px;
}

.login-form-head {
    text-align: center;
    background: #8655FC;
    padding: 30px;
}

.login-form-head h4 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
    color: #fff;
}

.login-form-head p {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.login-form-body {
    padding: 50px;
}

.form-gp {
    margin-bottom: 25px;
    position: relative;
}

.form-gp label {
    position: absolute;
    left: 0;
    top: 0;
    color: #b3b2b2;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.form-gp.focused label {
    top: -15px;
    color: #4B44B5;
}

.form-gp input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}

.form-gp input::-webkit-input-placeholder {
    color: #dad7d7;
}

.form-gp input::-moz-placeholder {
    color: #dad7d7;
}

.form-gp input:-ms-input-placeholder {
    color: #dad7d7;
}

.form-gp input:-moz-placeholder {
    color: #dad7d7;
}

.form-gp i {
    position: absolute;
    right: 5px;
    color: #4B44B5;
    font-size: 16px;
}

.form-gp img {
  position: absolute;
  right: 3px;
  color: #4B44B5;
  font-size: 16px;
}

.form-gp.has-error, .form-gp.has-error label, .form-gp.has-error input, .form-gp.has-error input::placeholder, .form-gp.has-error i {
    color: var(--red);
}

.rmber-area {
    font-size: 13px;
}

.submit-btn-area {
    text-align: center;
}

.submit-btn-area button {
    width: 100%;
    height: 50px;
    border: none;
    background: #fff;
    color: #585b5f;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.submit-btn-area button:hover {
    background: #2c71da;
    color: #ffffff;
}

.submit-btn-area button i {
    margin-left: 15px;
    -webkit-transition: margin-left 0.3s ease 0s;
    transition: margin-left 0.3s ease 0s;
}

.submit-btn-area button:hover i {
    margin-left: 20px;
}

.login-other a {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 43px;
    line-height: 43px;
    border-radius: 40px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
}

.login-other a i {
    margin-left: 5px;
}

.login-other a.fb-login {
    background: #8655FC;
    color: #fff;
}

.login-other a.fb-login:hover {
    box-shadow: 0 5px 15px rgba(44, 113, 218, 0.38);
}

.login-other a.google-login {
    background: #fb5757;
    color: #fff;
}

.login-other a.google-login:hover {
    box-shadow: 0 5px 15px rgba(251, 87, 87, 0.38);
}

.form-footer a {
    margin-left: 5px;
}

/* login-s2 */

.login-s2 {
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.login-s2 .login-form-head,
.login-s2 .login-box form,
.login-s2 .login-box form .form-gp input {
    background: transparent;
}

.login-s2 .login-form-head h4,
.login-s2 .login-form-head p {
    color: #444;
    font-size: 18px;
}

/* register 4 page */

.login-box-s2 {
    min-height: 100vh;
    background: #f9f9f9;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-box-s2 form {
    margin: auto;
    background: #fff;
    width: 100%;
    max-width: 500px;
}

/*-------------------- END Login ------------------- */


